*{
    padding: 0;
    margin: 0;
}

.btn-align{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;


}

.back{
    height: 100vh;
    background-color: aqua;
}